section.p-brands > div.brands-swiper{
  width: 1336px;
  height: 223px;
  margin: 0 auto;
  border: rgba(0, 0, 0, 0.052) solid 1px;
  border-radius: 16px;
}

section.p-brands > div.brands-swiper > h3 {
  width: 1336px;
  height: 44px;
  text-align: center;
  margin: 0 auto;
  font-family: Digikala;
  font-size: 21px;
  font-weight: 500;
  vertical-align: middle;
}
section.p-brands > div.brands-swiper > h3 > svg {
  vertical-align: middle;
  margin-left: 10px;
}

section.p-brands
  > div.brands-swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > img {
  width: 110px;
  height: 110px;
  object-fit: contain;
  margin: 0 auto;
}

section.p-brands
  > div.brands-swiper
  > div.swiper-wrapper
  > div.swiper-slide{
    border-left: rgba(0, 0, 0, 0.052) solid 1px;
}

section.p-brands
  > div.brands-swiper
  > div.swiper-wrapper
  > div.swiper-slide:last-of-type{
    border-left: unset;
}