@import url(./setting.css);
@import url(./header.css);
@import url(./slider.css);
@import url(./story.css);
@import url(./banner.css);
@import url(./items.css);
@import url(./navbar.css);
@import url(./amazing.css);
@import url(./second-banner.css);
@import url(./third-banner.css);
@import url(./kalaha.css);
@import url(./product.css);
@import url(./brands.css);
@import url(./most.css);
@import url(./footer.css);
@import url(./Discounted-products.css);
@import url(./reading-line.css);
