/* start navbar */
nav {
  margin-bottom: 20px;
}

section.nav > div.right-side-nav {
  display: inline-block;
  padding-left: 280px;
}

section.nav > div.right-side-nav > ul > li {
  font-size: 12px;
  font-family: digikala;
  font-weight: 400;
  display: inline-block;
  color: black;
  vertical-align: middle;
  margin: 13px 20px;
}

section.nav > div.right-side-nav > ul > li > a {
  color: rgb(145, 145, 145);
  padding: 10px;
  padding-bottom: 15px;
  transition: 200ms;
}

section.nav > div.right-side-nav > ul > li > a:hover {
  border-bottom: 3px solid #e6123d;
}

section.nav > div.right-side-nav > ul > li > a.nav-menu {
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 14px;
}

section.nav > div.right-side-nav > ul > li > a > svg.menu {
  vertical-align: middle;
}
section.nav > div.right-side-nav > ul > li > a > svg.percent {
  vertical-align: middle;
}
section.nav > div.right-side-nav > ul > li > a > svg.basket {
  vertical-align: middle;
}
section.nav > div.right-side-nav > ul > li > a > svg.gold {
  vertical-align: middle;
}
section.nav > div.right-side-nav > ul > li > a > svg.fire {
  vertical-align: middle;
}
section.nav > div.right-side-nav > ul > li > a > svg.offer {
  vertical-align: middle;
}
section.nav > div.right-side-nav > ul > li > a > svg.menu {
  vertical-align: middle;
}
section.nav > div.right-side-nav > ul > li > a > svg.menu {
  vertical-align: middle;
}

section.nav > div.right-side-nav > ul > li > h3 {
  display: inline-block;
  font-family: digikala;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
}

section.nav > div.left-side-nav {
  display: inline-block;
}

section.nav > div.left-side-nav > div.city > div.city-select > a {
  font-size: 12px;
  font-family: digikala;
  font-weight: 700;
  background-color: rgba(255, 166, 0, 0.068);
  display: inline-block;
  color: #fe8848;
  vertical-align: middle;
  padding: 4px 10px;
  padding-right: 20px;
  border-radius: 50px;
}

section.nav > div.left-side-nav > div.city > div.city-select > a > svg {
  vertical-align: middle;
  position: relative;
  left: 10px;
}

/* start menu */

div.right-side-nav > ul.main-menu > li {
  position: relative;
}

div.right-side-nav > ul.main-menu > li > ul.submenu > li > a > svg {
  color: rgb(0, 0, 0);
  vertical-align: middle;
  margin-left: 7px;
}

div.right-side-nav > ul.main-menu > li > ul.submenu {
  width: 182px;
  height: 380px;
  position: absolute;
  top: 36px;
  right: 28px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  display: none;
}

div.right-side-nav > ul.main-menu > li > ul.submenu > li > a {
  font-size: 12px;
  font-family: digikala;
  font-weight: 400;
  display: block;
  color: black;
  vertical-align: middle;
  margin: 10px;
  text-align: right;
}

div.right-side-nav > ul.main-menu > li > ul.submenu > li {
  width: 182px;
  height: 52px;
  padding: 5px;
  background-color: #F0F0F1;
}

div.right-side-nav > ul.main-menu > li > div.submenu-secondery-window > ul.submenu-secondery {
  display: inline-block;
  list-style-type: none;
}

div.right-side-nav > ul.main-menu > li > div.submenu-secondery-window{
  width: 897px;
  height: 380px;
  display: block;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  padding-top: 40px;
  position: absolute;
  top: 37px;
  right: 210px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}

div.right-side-nav > ul.main-menu > li > div.submenu-secondery-window > ul.submenu-secondery > li > a.title-menu{
  color: black;
  font-size: 14px !important;
  font-weight: 700;
}

div.right-side-nav > ul.main-menu > li > div.submenu-secondery-window > ul.submenu-secondery > li > a.title-menu > p{
  display: inline-block;
  margin-left: 8px;
  color: #e6123d;
}

div.right-side-nav > ul.main-menu > li > div.submenu-secondery-window > ul.submenu-secondery > li{
  margin-top:20px ;
}

div.right-side-nav > ul.main-menu > li > div.submenu-secondery-window > ul.submenu-secondery > li > a{
  font-size: 12px;
  font-family: digikala;
  font-weight: 400;
  display: block;
  color: rgba(0, 0, 0, 0.414);
  vertical-align: middle;
  margin: 10px;
  text-align: right;
}

/* start ul submenu */
section.nav > div.right-side-nav > ul.main-menu > li > a:first-of-type:hover ~ ul.submenu {
  display: inline-block;
}

div.right-side-nav > ul.main-menu > li > div.submenu-secondery-window:hover ~ ul.submenu{
  display: inline-block;
}

div.right-side-nav > ul.main-menu > li > ul.submenu:hover{
  display: inline-block;
}

div.right-side-nav > ul.main-menu > li > ul.submenu > li > a:hover {
  color: #e6123d;
}

/* end ul submenu */

/* start submenu-secondery-window */
section.nav > div.right-side-nav > ul.main-menu > li > a:first-of-type:hover ~ div.submenu-secondery-window {
  display: inline-block;
}

div.right-side-nav > ul.main-menu > li > ul.submenu:hover ~ div.submenu-secondery-window{
  display: inline-block;
}

div.right-side-nav > ul.main-menu > li > div.submenu-secondery-window:hover{
  display: inline-block;
}

div.right-side-nav > ul.main-menu > li > div.submenu-secondery-window > ul.submenu-secondery > li > a:hover{
  color: #e6123d;
}
/* end submenu-secondery-window */

/* end menu */

/* end navbar */

hr {
  position: relative;
  bottom: 18px;
}
