section.reading-line{
    width: 100%;
    height: 430px;
    padding: 16px 20px;
    font-family: digikala;
    position: relative;
}

section.reading-line>div.reading{
    margin-right:75px;
    display: inline-block;
}

section.reading-line>a{
    display: inline-block;
    font-size: 12px;
    margin-right: 1080px;
    position: absolute;
    bottom: 400px;
    color: rgb(25,191,211);
    vertical-align: middle;

}

section.reading-line>a>svg{
    vertical-align: middle;
}


section.reading-line>div.reading-line-image{
    display: inline-block;
    width:100%;
    height: 279px;
    position: relative;
    padding-top: 20px;
    padding-right: 58px;
} 

section.reading-line>div.reading-line-image>a{
    display: inline-block;
    border: 0.889px solid rgba(0, 0, 0, 0.060);
    margin: 5px;
    border-radius: 10px;
    height: 277px;
    vertical-align: middle;
}

div.reading-line-image>a>img{
    width: 325px;
    height: 203px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.reading-line-image>a>p{
    font-size: 13px;
    color: rgb(63, 63, 63);
    padding-right: 10px;
    text-align: right;
    padding-top: 7px;
}

section.reading-line>hr{
    width: 100%;
    opacity: 0.4;
    margin-top: 100px;

}