section.second-banners {
  width: 1336px;
  height: 250px;
  display: inline-block;
  margin: 16px auto;
  position: relative;
  right: calc(50% - 1336px / 2);
}

section.second-banners > div.second-banner-pics {
  display: inline-block;
}

.second-banners > div.second-banner-pics > img {
  width: 322px;
  height: 241.5px;
  border-radius: 16px;
  margin-right: 9px;
}

section.s-b > div.market {
  width: 1336px;
  height: 110px;
  position: relative;
  right: calc(50% - 1336px / 2);
  background-color: #ecefef;
  border-radius: 16px;
}

section.s-b > div.market > div.right-side-market {
  display: inline-block;
}

section.s-b > div.market > div.right-side-market > img {
  margin-top: calc(110px / 4);
  vertical-align: middle;
  margin-left: 20px;
}

section.s-b > div.market > div.right-side-market > img:first-of-type {
  margin-right: 20px;
}

section.s-b > div.market > div.right-side-market > div.takhfif {
  width: 110px;
  height: 28px;
  background-color: #029a49;
  display: inline-block;
  border-radius: 9999px;
  vertical-align: middle;
  margin-top: calc(110px / 4);
}

section.s-b > div.market > div.right-side-market > div.takhfif > a {
  font-family: Digikala;
  font-size: 14px;
  font-weight: 55;
  color: white;
  padding: 10px;
  position: relative;
  top: 4px;
}

section.s-b > div.market > div.left-side-market {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  right: 140px;
}

section.s-b > div.market > div.left-side-market > a {
  width: 74px;
  height: 74px;
  background-color: white;
  border-radius: 9999px;
  display: inline-block;
}

section.s-b > div.market > div.left-side-market > a > img {
  width: 43px;
  height: 43px;
  vertical-align: middle;
  position: relative;
  right: 15px;
  top: 14px;
}

section.s-b > div.market > div.left-side-market > div.hundred-kala {
  width: 144px;
  height: 50px;
  background-color: white;
  display: inline-block;
  border-radius: 9999px;
  vertical-align: middle;
  margin-top: calc(110px / 4);
  position: relative;
  right: 20px;
}

section.s-b > div.market > div.left-side-market > div.hundred-kala > a {
  font-family: Digikala;
  font-size: 12px;
  font-weight: 55;
  color: #029a49;
  position: absolute;
  top: 6px;
  right: 17px;
}

section.s-b > div.market > div.left-side-market > div.hundred-kala > a > svg {
  position: relative;
  top: 7px;
  right: 4px;
}

section.s-b > div.market > div.left-side-market > a::before {
  content: "Û¸%";
  width: 34px;
  text-align: center;
  height: 20px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: red;
  border-radius: 16px;
  z-index: 2;
  position: absolute;
  vertical-align: bottom;
  bottom: 3px;
}
